<h1>Create User</h1>


<form action="<%=users_url%>" method="POST">
  <%= auth_token %>

  <label for="email">Email</label>
  <input type="text" id="email" name="user[email]">
  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <input type="submit">

</form>
